/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* FOOTER 1 SECTION */
/* -------------------------------------------------------------------------- */
.footer-1 {
  background: $color-white;
  padding: 40px 20px;

  .containerish {
    .footer-logo {}

    .line {
      height: 1px;
      width: 95%;
      max-width: 1053px;
      background: $color-dark;
      opacity: .2;
      margin: 3rem auto;
    }

    .footer-nav-wrapper {
      display: grid;

      .nav-link {
        font-family: $font-primary;
        font-size: 15px;
        font-weight: 700;
        color: $color-dark;
        padding: 0;
        margin-bottom: 1rem;

        &:hover {
          color: $color-main;
          text-decoration: none;
        }
      }

      .nav-sublist {
        list-style-type: none;
        padding: 0;

        li a {
          font-family: $font-primary;
          font-size: 14px;
          color: $color-extra-dark;

          &:hover {
            color: $color-main;
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* FOOTER 2 SECTION */
/* -------------------------------------------------------------------------- */
.footer2 {
  background-color: $color-light;
  width: 100%;
  padding: 0.6rem 20px;
  height: 50px;
  display: flex;
  align-items: center;

  .containerish {
    display: grid;
    align-items: center;
    max-width: 1200px;

    .foot-left {
      grid-row: 1;

      .social-link {
        color: $color-dark;
        margin-right: 1rem;

        &:hover {
          color: $color-main;
          text-decoration: none;
        }
      }

      .social-link:last-child {
        margin-right: 0;
      }
    }

    .foot-right {
      grid-row: 1;
    }

    .footer-2-copy {
      font-family: $font-primary;
      font-size: 15px;
      font-weight: 300;
      color: $color-dark;
      padding: 0;
      margin: 0;
    }

    .footer-link-2 {
      font-weight: 300;
      font-size: 12px;
      line-height: calc(12px * 1.5);
      font-family: $font-primary;
      color: $color-dark !important;

      &:hover {
        color: $color-main;
        text-decoration: none;
      }
    }
  }
}