/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 1.5rem 0.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    min-width: 220px;
  }

  .navbar {
    padding: 1rem 1rem;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    // background: lightblue;

    .containerish {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      padding: 0.2rem 1rem;

      .col-right {
        grid-row: 1;
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  /* HERO ******************************************************************* */
  .hero {
    .slide-wrapper {
      margin-top: 0;
      // background: red;

      .containerish {
        background: url('../img/slide-bg@2x.jpg') center / cover;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        position: relative;

        .section-info {
          padding-left: 4rem;
        }
      }
    }
  }

  /* IMAGE ARRAY ************************************************************ */
  .img-array {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* FOOTER ***************************************************************** */
  .footer-1 {
    background: $color-white;
    padding: 40px 20px;

    .containerish {
      display: flex;
      flex-direction: column;
      align-items: center;

      .footer-logo {
        width: 533.55px;
        height: 156.9;
        margin: 0 auto;
      }

      .footer-nav-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {

  .ui-btn {
    display: inline-flex;
    width: auto;
    // padding: 0.8rem 0.5rem;
    width: 225px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    .containerish {
      grid-template-columns: max-content 1fr max-content;
      padding: 0.2rem 0;

      .col-right {
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  /* NAVBAR ***************************************************************** */
  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .nav-wrapper {
    background: transparent;
    position: relative;
    transition: all .3s ease-in-out;

    &.show {
      background: $color-white !important;
      transition: all .3s ease-in-out;
      box-shadow: 0 3px 6px rgba($color-black, .06);
    }

    .containerish {
      position: relative;
    }
  }

  /* HERO ******************************************************************* */
  .hero {

    .slide-wrapper {
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 550px;
      // background: red;

      .containerish {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        position: relative;
        height: 500px;

        .section-info {
          padding-left: 4rem;
        }

        .section-img {
          position: absolute;
          bottom: 0;
          right: 2%;
          height: 550px;
          width: auto;
        }
      }
    }
  }

  /* HOW IT WORKS *********************************************************** */
  .howitworks {
    padding: 80px 20px;

    .containerish {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;

      .section-intro {
        grid-row: 1;
        grid-column: 1 / -1;
      }

      .feature-box {

        .box-content {
          padding: 20px 0;
          background: $color-white;
          display: grid;
          grid-template-columns: min-content 1fr;

          .box-content-left {
            height: 86px;
            width: 86px;
          }

          .box-content-right {
            padding: 0 20px;
          }
        }
      }
    }
  }

  /* PAY PER VISIT ********************************************************** */
  .paypervisit {
    .containerish {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 1rem;
      grid-column-gap: 4rem;
      padding: 40px 4rem;

      .col-left,
      .col-right {
        text-align: center;
        padding: 40px 20px;

        .strike {
          text-decoration: line-through;
        }
      }

      .section-intro {
        grid-row: 1;
        grid-column: 1 / -1;
      }
    }
  }

  /* CONNECTING ************************************************************* */
  .connecting {

    .containerish {
      // background: url('../img/speak_with_a_doctor@2x.png') top / cover;
      position: relative;
      height: 900px;

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        left: 0;
        // height: 100%;
      }

      .section-intro {
        position: absolute;
        width: 100%;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 56;
        text-align: center;

        p {
          max-width: 500px;
          margin: 0 auto;
        }
      }
    }
  }

  /* SERVICES *************************************************************** */
  .services {
    background: $color-white;
    padding: 80px 20px;

    .section-intro {
      text-align: center;

      p {
        max-width: 730px;
        margin: 0 auto;
      }
    }

    .search {
      padding: 40px 20px;
      max-width: 936px;
      margin: 0 auto;

      .containerish {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        grid-gap: 1rem;
        align-items: center;

        .form-control {
          border-radius: 0;
          margin-bottom: 0 !important;
        }

        .form-control:not(button) {
          border: 1px solid $color-dark !important;
        }

        ::placeholder {
          color: #3e3a42;
          font-family: $font-primary;
          font-size: 15px;
        }
      }
    }

    /* featured services */
    .featured-services {
      margin-top: 4rem;

      .containerish {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        .service-list {
          list-style-type: none;
          margin: .5rem 0;
          padding: 0;

          li a {
            font-family: $font-primary;
            font-size: 14px;
            color: $color-extra-dark;

            &:hover {
              color: $color-main;
            }
          }
        }
      }

    }
  }


  /* FOOTER ***************************************************************** */
  .footer-1 {
    background: $color-white;
    padding: 40px 20px;

    .containerish {
      display: flex;
      flex-direction: column;
      align-items: center;

      .footer-logo {
        width: 533.55px;
        height: 156.9;
        margin: 0 auto;
      }

      .footer-nav-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;
      }
    }
  }

  .footer2 {
    display: flex;
    align-items: center;

    .containerish {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;

      .foot-left {
        grid-row: 1;
      }

      .foot-right {
        grid-row: 1;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  /* TOPBAR ******************************************************* */
  .topbar {

    .containerish {
      grid-gap: 0;

      .col-mid {
        display: flex;
        grid: 2;
        justify-content: center;
      }

      .topbar-link {
        // margin-right: 1rem;
        display: inline-flex;
      }

      // padding: 0.2rem 2rem;
    }
  }

  /* NAVBAR ***************************************************************** */
  .nav-wrapper {
    .container {
      .navbar {
        padding: .3rem 0 !important;
      }
    }
  }

  .nav-item {
    margin-right: 1.5rem;
  }

  /* HOW IT WORKS *********************************************************** */
  .howitworks {
    padding: 80px 20px;

    .containerish {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2rem;
    }
  }

  /* CONNECTING ************************************************************* */
  .connecting {
    padding: 3rem 0;

    .containerish {
      position: relative;
      height: 1100px;

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        // height: 100%;
      }

      .section-intro {
        position: absolute;
        width: 100%;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 56;
        text-align: center;

        p {
          max-width: 500px;
          margin: 0 auto;
        }
      }
    }
  }

  /* SERVICES *************************************************************** */
  .services {
    background: $color-white;
    padding: 80px 20px;


    /* featured services */
    .featured-services {
      .containerish {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;
        grid-gap: 1rem;


        .service-list {
          list-style-type: none;
          margin: .5rem 0;
          padding: 0;

          li a {
            font-family: $font-primary;
            font-size: 14px;
            color: $color-extra-dark;

            &:hover {
              color: $color-main;
            }
          }
        }
      }
    }
  }

  /* FAQs ******************************************************************* */
  .faqs {
    padding: 6rem 0;
  }

  /* APPOINTMENTS *********************************************************** */
  .appointments {
    min-height: 70vh;
    max-height: 800px;

  }

  /* FOOTER ***************************************************************** */
  .footer-1 {
    background: $color-white;
    padding: 40px 20px;

    .containerish {
      display: flex;
      flex-direction: column;
      align-items: center;

      .footer-logo {
        width: 533.55px;
        height: 156.9;
        margin: 0 auto;
      }

      .footer-nav-wrapper {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 1rem;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* MACBOOK PRO 15" BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {

  /* PAY PER VISIT ********************************************************** */
  .paypervisit {
    .containerish {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 1rem;
      grid-column-gap: 6rem;
      padding: 60px 6rem;

      .section-intro {
        grid-row: 1;
        grid-column: 1 / -1;
      }
    }
  }

  /* FOOTER ***************************************************************** */
  .footer-1 {
    padding: 100px 20px;

    .containerish {

      .line {
        margin: 6rem 0;
      }

      .footer-nav-wrapper {
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 3rem;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {}