/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
main {
  padding-top: 0;
}

/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {
  background: url('../../img/hero-bg@2x.jpg') center / cover;

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slide-wrapper {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
    // background: red;

    .containerish {
      width: 100%;
      background: url('../../img/slide-bg@2x.jpg') center / cover;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      position: relative;
      height: 500px;

      .section-info {
        padding: 0 20px;

        p {
          max-width: 500px;
        }
      }

      .section-img {
        position: absolute;
        bottom: 0;
        right: 2%;
        height: 500px;
        width: auto;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* INSURANCE SECTION */
/* -------------------------------------------------------------------------- */
.insurance {

  .containerish {
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 1rem;

    .ins-logo-divider {
      color: #BEB8C9;
      opacity: .5;
      font-size: 2rem;
    }

    p {
      margin: 0;
      padding: 0;
    }

    img {
      width: auto;
      max-height: 30px;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* HOW IT WORKS SECTION */
/* -------------------------------------------------------------------------- */
.howitworks {
  background: url('../../img/howitworks-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  .containerish {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    .feature-box {

      .box-img {
        width: 100%;

        img {
          object-fit: cover;
        }
      }

      .box-content {
        padding: 20px 0;
        background: $color-white;
        display: grid;
        grid-template-columns: min-content 1fr;

        .box-content-left {
          height: 86px;
          width: 86px;
        }

        .box-content-right {
          padding: 0 20px;
        }
      }
    }
  }
}